<%- include('../includes/head.ejs') %>

<%- include('../includes/header.ejs') %>


 <!-- landing start -->
 <section class="landing-container align-flexstart">
    <div class="landing-left">
        <img src="./images/side-banner.jpg" alt="side_banner" />
    </div>
    <div class="landing-main">
        <div class="flexslider">
            <ul class="slides">
              <li data-thumb="./images/slider/slider-keys/christopher-gower-_aXa21cf7rY-unsplash.jpg">
                <div class="slider-image-container">
                    <div class="slider-image-text">
                        <h3 class="animate__animated animate__fadeInLeft">An animated element</h3>
                        <h1>Main Heading here</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <button class="btn btn-primary">Buy Now</button>
                    </div>
                    <img src="./images/slider/christopher-gower-_aXa21cf7rY-unsplash.jpg" />
                </div>
              </li>
              <li data-thumb="./images/slider/slider-keys/furniture-1840463_1920.jpg">
                <div class="slider-image-container">
                    <div class="slider-image-text">
                        <h3 class="animate__animated animate__fadeInLeft">An animated element</h3>
                        <h1>Main Heading here</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <button class="btn btn-primary">Buy Now</button>
                    </div>
                    <img src="./images/slider/furniture-1840463_1920.jpg" />
                </div>
              </li>
              <li data-thumb="./images/slider/slider-keys/taylor-smith-aDZ5YIuedQg-unsplash.jpg">
                <div class="slider-image-container">
                    <div class="slider-image-text">
                        <h3 class="animate__animated animate__fadeInLeft">An animated element</h3>
                        <h1>Main Heading here</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <button class="btn btn-primary">Buy Now</button>
                    </div>
                    <img src="./images/slider/taylor-smith-aDZ5YIuedQg-unsplash.jpg" />
                </div>
              </li>
              <li data-thumb="./images/slider/slider-keys/louis-philippe-poitras-WMMh6BtmTMo-unsplash.jpg">
                <div class="slider-image-container">
                    <div class="slider-image-text">
                        <h3 class="animate__animated animate__fadeInLeft">An animated element</h3>
                        <h1>Main Heading here</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <button class="btn btn-primary">Buy Now</button>
                    </div>
                    <img src="./images/slider/louis-philippe-poitras-WMMh6BtmTMo-unsplash.jpg" />
                </div>
              </li>
            </ul>
          </div>
        <!-- <img src="./images/cristina-model-smiling-on-viewer-4k-t4.jpg" alt="landing_pic" /> -->
    </div>
</section>
<!-- landing end -->

<section class="content-box align-flexstart">

    <%- include('../includes/sidebar.ejs') %>
    
    <div class="products-container">

        <!-- new products start -->
        <div class="new-products">
            <div class="new-products__top">
                <h3>New Products</h3>
                <div class="new-products__controls"></div>
            </div>
            <div class="new-products__content">
                <div class="product-card">
                    <div class="product-card__image">
                        <img src="./images/living-room-2732939_1920.jpg" alt="" />
                    </div>
                    <div class="product-card__title">
                        <p>Product Name</p>
                    </div>
                    <div class="product-card__rating">
                        <p>Rating</p>
                    </div>
                    <div class="product-card__price">
                        <p>$155.00</p>
                    </div>
                    <button class="btn-home">Add To Cart</button>
                </div>

                <div class="product-card">
                    <div class="product-card__image">
                        <img src="./images/jade-scarlato-1zBPoVwS_Jo-unsplash.jpg" alt="" />
                    </div>
                    <div class="product-card__title">
                        <p>Product Name</p>
                    </div>
                    <div class="product-card__rating">
                        <p>Rating</p>
                    </div>
                    <div class="product-card__price">
                        <p>$155.00</p>
                    </div>
                    <button class="btn-home">Add To Cart</button>
                </div>

                <div class="product-card">
                    <div class="product-card__image">
                        <img src="./images/jeshoots-com-eCktzGjC-iU-unsplash.jpg" alt="" />
                    </div>
                    <div class="product-card__title">
                        <p>Product Name</p>
                    </div>
                    <div class="product-card__rating">
                        <p>Rating</p>
                    </div>
                    <div class="product-card__price">
                        <p>$155.00</p>
                    </div>
                    <button class="btn-home">Add To Cart</button>
                </div>

                <div class="product-card">
                    <div class="product-card__image">
                        <img src="./images/mnz-ToLMORRb97Q-unsplash.jpg" alt="" />
                    </div>
                    <div class="product-card__title">
                        <p>Product Name</p>
                    </div>
                    <div class="product-card__rating">
                        <p>Rating</p>
                    </div>
                    <div class="product-card__price">
                        <p>$155.00</p>
                    </div>
                    <button class="btn-home">Add To Cart</button>
                </div>
            </div>
        </div>
        <!-- new products end -->


         <!-- best sellers start -->
        <div class="best-seller-products">
            <div class="best-seller-products__top">
                <h3>Best Sellers</h3>
                <div class="best-seller-products__controls"></div>
            </div>
            <div class="best-seller-products__content">
                <div class="product-card product-card--md">
                    <div class="product-card__image">
                        <img src="./images/living-room-2732939_1920.jpg" alt="" />
                    </div>
                    <div class="product-card__title">
                        <p>Product Name</p>
                    </div>
                    <div class="product-card__rating">
                        <p>Rating</p>
                    </div>
                    <div class="product-card__price">
                        <p>$155.00</p>
                    </div>
                    <button class="btn-home">Add To Cart</button>
                </div>

                <div class="product-card product-card--md">
                    <div class="product-card__image">
                        <img src="./images/jeshoots-com-eCktzGjC-iU-unsplash.jpg" alt="" />
                    </div>
                    <div class="product-card__title">
                        <p>Product Name</p>
                    </div>
                    <div class="product-card__rating">
                        <p>Rating</p>
                    </div>
                    <div class="product-card__price">
                        <p>$155.00</p>
                    </div>
                    <button class="btn-home">Add To Cart</button>
                </div>

                <div class="product-card product-card--md">
                    <div class="product-card__image">
                        <img src="./images/mnz-ToLMORRb97Q-unsplash.jpg" alt="" />
                    </div>
                    <div class="product-card__title">
                        <p>Product Name</p>
                    </div>
                    <div class="product-card__rating">
                        <p>Rating</p>
                    </div>
                    <div class="product-card__price">
                        <p>$155.00</p>
                    </div>
                    <button class="btn-home">Add To Cart</button>
                </div>
            </div>
        </div>
         <!-- best sellers end -->

         
        <!-- featured products start -->
        <div class="featured-products">
            <div class="featured-products__top">
                <h3>Featured Products</h3>
                <div class="featured-products__controls"></div>
            </div>
            <div class="featured-products__content">
                <div class="product-card">
                    <div class="product-card__image">
                        <img src="./images/living-room-2732939_1920.jpg" alt="" />
                    </div>
                    <div class="product-card__title">
                        <p>Product Name</p>
                    </div>
                    <div class="product-card__rating">
                        <p>Rating</p>
                    </div>
                    <div class="product-card__price">
                        <p>$155.00</p>
                    </div>
                    <button class="btn-home">Add To Cart</button>
                </div>

                <div class="product-card">
                    <div class="product-card__image">
                        <img src="./images/jade-scarlato-1zBPoVwS_Jo-unsplash.jpg" alt="" />
                    </div>
                    <div class="product-card__title">
                        <p>Product Name</p>
                    </div>
                    <div class="product-card__rating">
                        <p>Rating</p>
                    </div>
                    <div class="product-card__price">
                        <p>$155.00</p>
                    </div>
                    <button class="btn-home">Add To Cart</button>
                </div>

                <div class="product-card">
                    <div class="product-card__image">
                        <img src="./images/jeshoots-com-eCktzGjC-iU-unsplash.jpg" alt="" />
                    </div>
                    <div class="product-card__title">
                        <p>Product Name</p>
                    </div>
                    <div class="product-card__rating">
                        <p>Rating</p>
                    </div>
                    <div class="product-card__price">
                        <p>$155.00</p>
                    </div>
                    <button class="btn-home">Add To Cart</button>
                </div>

                <div class="product-card">
                    <div class="product-card__image">
                        <img src="./images/mnz-ToLMORRb97Q-unsplash.jpg" alt="" />
                    </div>
                    <div class="product-card__title">
                        <p>Product Name</p>
                    </div>
                    <div class="product-card__rating">
                        <p>Rating</p>
                    </div>
                    <div class="product-card__price">
                        <p>$155.00</p>
                    </div>
                    <button class="btn-home">Add To Cart</button>
                </div>
            </div>
        </div>
        <!-- featured products end -->

    </div>
</section>
<section class="blog-container">
    <div class="home-blog-title">
        <h2>Latest Blog</h2>
    </div>
    <div class="home-blog-content">
        <div class="home-blog-card">
            <div class="home-blog-card__image">
                <img src="./images/blog/blog-img1.jpg" alt="blog_image" />
            </div>
            <div class="home-blog-card__contentbox">
                <h4>Standard blog post with photo</h4>
                <div class="home-blog-card__statbox">
                    <div class="home-blog-card__statbox--postedby">
                        <span><i class="fa fa-user" aria-hidden="true"></i></span>
                        <span>posted by admin</span>
                    </div>
                    <div class="home-blog-card__statbox--postedby">
                        <span><i class="fa fa-comments" aria-hidden="true"></i></span>
                        <span>4 comments</span>
                    </div>
                    <div class="home-blog-card__statbox--postedby">
                        <span><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                        <span>25 Jan</span>
                    </div>
                </div>
                <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum 
                    facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips</p>
                <button class="btn-home">Read More</button>
            </div>
        </div>
        <div class="home-blog-card">
            <div class="home-blog-card__image">
                <img src="./images/blog/blog-img2.jpg" alt="blog_image" />
            </div>
            <div class="home-blog-card__contentbox">
                <h4>Standard blog post with photo</h4>
                <div class="home-blog-card__statbox">
                    <div class="home-blog-card__statbox--postedby">
                        <span><i class="fa fa-user" aria-hidden="true"></i></span>
                        <span>posted by admin</span>
                    </div>
                    <div class="home-blog-card__statbox--postedby">
                        <span><i class="fa fa-comments" aria-hidden="true"></i></span>
                        <span>4 comments</span>
                    </div>
                    <div class="home-blog-card__statbox--postedby">
                        <span><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                        <span>25 Jan</span>
                    </div>
                </div>
                <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum 
                    facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips</p>
                <button class="btn-home">Read More</button>
            </div>
        </div>
    </div>
</section>



<%- include('../includes/footer.ejs') %>

<%- include('../includes/end.ejs') %>